fastapi
fastapi-sqlalchemy
psycopg2-binary
pydantic[dotenv]
uvicorn
alembic
SQLAlchemy
gunicorn
email-validator
retrying
aiohttp
logging-profcomff
pydantic-settings
pytest-asyncio
confluent-kafka
event-schema-profcomff

# Google Auth Method
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pyjwt
cryptography
