fastapi
fastapi-sqlalchemy
psycopg2-binary
pydantic[dotenv]
uvicorn
alembic
SQLAlchemy
gunicorn
email-validator
retrying
aiohttp

# Google Auth Method
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
